@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  font-family: 'Poppins', Arial;
  box-sizing: border-box;
  // color: #fff;
}

body{
  margin: 0;
}

.clear-fix{
  clear: both;

  &-left{
    clear: left;
  }

  &-right{
    clear: right;
  }
}

a{
  text-decoration: none;
  color: #fff;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;

}